@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/IRANSans/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('fonts/IRANSans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/IRANSans/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('fonts/IRANSans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/IRANSans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('fonts/IRANSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IRANSans/eot/IRANSansWeb(FaNum).eot');
    src: url('fonts/IRANSans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/IRANSans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/IRANSans/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/IRANSans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
    font-family: Shabnam-FD;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Shabnam/Shabnam-FD.eot"), url("fonts/Shabnam/Shabnam-FD.woff2") format('woff2'), url("fonts/Shabnam/Shabnam-FD.woff") format('woff'), url("fonts/Shabnam/Shabnam-FD.ttf") format('truetype');
}

@font-face {
    font-family: Shabnam-FD;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/Shabnam/Shabnam-Bold-FD.eot"), url("fonts/Shabnam/Shabnam-Bold-FD.woff2") format('woff2'), url("fonts/Shabnam/Shabnam-Bold-FD.woff") format('woff'), url("fonts/Shabnam/Shabnam-Bold-FD.ttf") format('truetype');
}

@font-face {
    font-family: Shabnam-FD;
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Shabnam/Shabnam-Light-FD.eot"), url("fonts/Shabnam/Shabnam-Light-FD.woff2") format('woff2'), url("fonts/Shabnam/Shabnam-Light-FD.woff") format('woff'), url("fonts/Shabnam/Shabnam-Light-FD.ttf") format('truetype');
}

@font-face {
    font-family: 'B Nazanin';
    src: local('B Nazanin'), local('BNazanin'), url('font/BNazanin/BNazanin.woff2') format('woff2'), url('font/BNazanin/BNazanin.woff') format('woff'), url('font/BNazanin/BNazanin.ttf') format('truetype');
    font-weight: 400;
    font-stretch: normal;
    /*font-style: normal;*/
}

@font-face {
    font-family: 'B NazaninB';
    src: local('B Nazanin Bold'), local('BNazanin-Bold'), url('font/BNazanin/BNaznnBd.woff2') format('woff2'), url('font/BNazanin/BNaznnBd.woff') format('woff'), url('font/BNazanin/BNaznnBd.ttf') format('truetype');
    font-weight: 700;
    font-stretch: normal;
    /*font-style: normal;*/
}
